@import url("reset.css");

* { box-sizing: border-box; }

body {
  background: #2f2840 url("images/bg_body.gif");
  display: flex;
  flex-direction: column;
  font: normal 20px "Nunito Sans", Arial, Helvetica, sans-serif;
  text-align: center;
}

header, main, footer {
  margin: 0 auto;
  width: 100%;
}

h1 {
  margin: 133px 0 112px;
}

nav {
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 42px;
}

nav a { 
  text-decoration: none;
  color: #cacaca;
  font-stretch: ultra-expanded;

}

.active a {
  color: #6db9ff;
  font-weight: 900;
}

ul {
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 32px;
  letter-spacing: 1px;
}

main {
  background-color: white;
  padding: 80px 0 88px;
}

article {
  width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  margin: 35px 0 25px;
  letter-spacing: 1px;
}

h2:before, h2:after {
  content: "\2022";
  font-size: 25px;
  vertical-align: 7px;
  padding: 0 25px; 
}

h3 {
  color: #3e59b2;
  font-size: 24px;
  letter-spacing: 0.9px;
  margin-bottom: 15px;
}

article:nth-child(2) h2 {
  margin: 65px 0 35px;
}

p {
  line-height: 27px;
}

footer {
  background-color: #e7e7e7;
  font-size: 20px;
  color: #45494d;
  padding-bottom: 75px;
}

footer p {
  width: 450px;
  margin: 0 auto;
  padding: 83px 0 40px;
}

footer li {
  padding: 0 61px;
}

.social {
  width: 46px;
  height: 46px;
  background-image: url("images/icons_social-media.png");
  display: block;
}

.facebook { background-position: 0 -46px; }

.email { background-position: 0 -92px; }

.instagram { background-position: 0 -138px; }