body {
  width: 100%;
}

html {
  font-size: 28px;
  font-family: Helvetica, Arial, sans-serif;
}

/* Create Inner Box */
article {
  width: 680px;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 10px 15px;
}

/* Nutrition Facts Typography */
h1 {
  font-size: 2rem;
  margin: 0;
}

/* Servings Sizes Display */
p {
  margin: 0;
}

table:first-of-type {
  width: 100%;
  border-collapse: collapse;
}

table:first-of-type {
  margin-top: 5px;
  border-top: 1.1rem solid black;
}

/* Only add bottom border to first table */
table:first-of-type tr {
  border-bottom: black 1px solid;
}

/* Align left the first column, and align right the second column */
table:first-of-type td:nth-child(1),
table:first-of-type th:nth-child(1) {
  text-align: left;
}

table:first-of-type th:nth-child(2),
table:first-of-type td:nth-child(2) {
  text-align: right;
}


dl {
  margin: 0;
  padding: 5px 0;
}

dt, dd {
  display: inline-block;
}

/* Previous version to match image */

/* dt {
  font-family: 'Helvetica Black', 'Arial Black', sans-serif;
} */

/* Adjust Amount per Serving Text Size */
/* thead > tr:first-of-type {
  font-size: 0.75rem;
} */

/* h1 {
  font-family: 'Franklin Gothic Heavy', 'Arial Black', sans-serif;
  font-size: 93px;
} */