body {
  width: 100%;
}

html {
  font-size: 34px;
  font-family: Helvetica, Arial, sans-serif;
}

/* Create Inner Box */
article {
  width: 684px;
  border: 0.1rem solid black;
  box-sizing: border-box;
  margin: auto;
  padding: 0 10px;
}

/* Nutrition Facts Typography */
h1 {
  font-family: 'Franklin Gothic Heavy', 'Arial Black', sans-serif;
  font-size: 2.75rem;
  /* font-size: 93px; */
  margin: 0;
}

/* Servings Sizes Display */
p {
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

article > table {
  margin-top: 3px;
  border-top: 0.9rem solid black;
}

dl {
  margin: 0;
}

/* Adjust Amount per Serving Text Size */
thead > tr:first-of-type {
  font-size: 0.75rem;
}

th {
  text-align: left;
}

dt, dd {
  display: inline-block;
}

dt {
  font-family: 'Helvetica Black', 'Arial Black', sans-serif;
}


