body {
  width: 100%;
}

html {
  font-size: 28px;
  font-family: Helvetica, Arial, sans-serif;
}

/* Create Inner Box */
article {
  width: 680px;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 10px 15px;
}

/* Nutrition Facts Typography */
h1 {
  /* font-family: 'Franklin Gothic Heavy', 'Arial Black', sans-serif; */
  /* font-size: 93px; */
  font-size: 2rem;
  margin: 0;
}

/* Servings Sizes Display */
p {
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

article > table {
  margin-top: 5px;
  border-top: 1.1rem solid black;
}

dl {
  margin: 0;
  padding: 5px 0;
  border-bottom: 1px solid black;
}

th {
  text-align: left;
}

dt, dd {
  display: inline-block;
}

/* Previous version */

/* dt {
  font-family: 'Helvetica Black', 'Arial Black', sans-serif;
} */

/* Adjust Amount per Serving Text Size */
/* thead > tr:first-of-type {
  font-size: 0.75rem;
} */

