@import url("reset.css");

body {
  background-color: #ffd505; 
  font: normal 16px Arial, Helvetica, sans-serif;
}

header {
  background-color: #047eC1;
  color: white;
  border-radius: 0 0 15px 15px;
}

body, header { 
  width: 900px;
  margin: 0 auto;
}

h1 {
  font-size: 38.5px;
  padding: 32px 25px 30px;
  font-weight: 700;
}