* {
  box-sizing: border-box;
}

body {
  font: normal 16px Helvetica, Arial, sans-serif;
  color: #545459;
}


/* --- BOX --- */

.container {
  width: 1000px;
  border: 2px solid #999;
  margin: 0 auto;
  padding: 20px;
}

/* --- TYPOGRAPHY --- */

h2, h3, h4 {
  color: #ce4a4a;
  margin: 20px 0;
}

h3 {
  font-size: 20px;
}

p {
  line-height: 35px;
  margin-bottom: 25px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* --- INLINE --- */

/* Example template */

.inl div {
  border: 2px dashed;
  margin: 45px;
  padding: 30px;
  width: 650px;
}

.inl div a {
  display: inline;
}

/* Example with margins */
.inl .margin a {
  margin: 30px;
}

/* Example with padding */
.inl .padding a {
  padding: 30px;
  color: white;
  background-color: green;
}