* {
  box-sizing: border-box;
}

body {
  font: normal 16px Helvetica, Arial, sans-serif;
  color: #545459;
}

/* --- BOX --- */

.container {
  width: 1000px;
  border: 2px solid #999;
  margin: 0 auto;
  padding: 20px;
}

/* --- TYPOGRAPHY --- */

h2, h3, h4 {
  color: #ce4a4a;
  margin: 20px 0;
}

h3 {
  font-size: 20px;
}

p {
  line-height: 35px;
  margin-bottom: 25px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* --- INLINE --- */

/* Example template */

.inl div {
  border: 2px dashed;
  margin: 45px;
  padding: 30px;
  width: 650px;
}

.inl div a {
  display: inline;
}

/* Example with margins */
.inl .margin a {
  margin: 30px;
}

/* Example with padding */
.inl .padding a {
  padding: 30px;
}

/* Green box */
.inl .box a {
  color: white;
  background-color: green;
}

/* Example floating */
.inl .float a {
  float: left;
  margin: 15px;
  padding: 25px;
  width: 120px;
  text-align: center;
  border: 3px solid darkgreen;
}

.inl .float {
  overflow: hidden;
}

/* --- BLOCK --- */

/* Example template */
.blo div:not(.wrapper) {
  color: #fff;
}

.wrapper {
  margin-bottom: 35px;
}

/* Clearfix */
.cf::after {
  clear: both;
  content: "";
  display: block;
}

/* First boxes (height and width) */

.blo .box-1 {
  background-color: dodgerblue;
}

.blo .box-2 {
  background-color: green;
  height: 60px;
  margin: 20px;
  padding: 20px;
}

.blo .box-3 {
  background-color: tomato;
  width: 90px;
}

.blo .box-4 {
  background-color: pink;
  width: 180px;
  height: 120px;
  margin: 20px;
  padding: 20px;
}

/* Large margin */
.blo h3.separation {
  margin-top: 35px;
}

/* Second boxes (floating without height/width) */

.blo .fl-a * {
  border: 1px solid red;
}

.blo .fl-1 {
  background-color: dodgerblue;
  float: left;
}

.blo .fl-2 {
  background-color: tomato;
  float: right;
}

/* Third boxes (floating with width) */

.blo .fl-b {
  text-align: center;
  line-height: 70px;
}

.blo .fl-3 {
  background-color: tomato;
  float: left;
  width: 40%;
}

.blo .fl-4 {
  background-color: dodgerblue;
  float: right;
  width: 50%;
}

/* Fourth boxes (block anchor element) */

.blo .fl-c a {
  display: block;
  background-color: dodgerblue;
  color: white;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

/* --- INLINE BLOCK --- */

.inl-blo a {
  display: inline-block;
  width: 180px;
  color: white;
  background-color: dodgerblue;
  margin: 20px 8px 25px;
  line-height: 60px;
}

.nav {
  text-align: center;
}

/* Dashed separation */
section.inl-blo {
  border-bottom: 2px dashed;
  padding-bottom: 30px;
}

/* --- FLOATS --- */

.flo h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
}

.flo .wrapper * {
  color: white;
  font-weight: bold;
  text-align: center;
  float: left;
  line-height: 100px;
}

.flo .fl-1 {
  background-color: tomato;
  width: 47%;
}

.flo .fl-2 {
  background-color: dodgerblue;
  width: 53%;
}

.flo .fl-3 {
  background-color: green;
  width: 100%;
  line-height: 50px;
  clear: both;
  float: none;
}

pre code {
  display: block;
  white-space: pre;
}

/* --- POSITIONING --- */

li {
  margin-left: 40px;
  margin-bottom: 10px;
  font-style: italic;
}

ul {
  margin-bottom: 45px;
}

.pos div {
  color: white;
  border-radius: 10px;
  padding: 25px 40px;
  text-align: center;
}

.pos .fixed {
  position: fixed;
  background-color: dodgerblue;
  left: 35px;
  bottom: 50px;
  width: 225px;
}

.pos .relative {
  position: relative;
  background-color: tomato;
  width: 325px;
  top: 45px;
  left: -90px;
  margin-bottom: 30px;
}

.pos .absolute {
  position: absolute;
  background-color: green;
  width: 200px;
  bottom: 117px;
  left: 230px;
}

.pos {
  position: relative;
}