* {
  box-sizing: border-box;
}

body {
  font: normal 16px Helvetica, Arial, sans-serif;
  color: #545459;
}

/* --- BOX --- */

.container {
  width: 1000px;
  border: 2px solid #999;
  margin: 0 auto;
  padding: 20px;
}

/* --- TYPOGRAPHY --- */

h2, h3, h4 {
  color: #ce4a4a;
  margin: 20px 0;
}

h3 {
  font-size: 20px;
}

p {
  line-height: 35px;
  margin-bottom: 25px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* --- INLINE --- */

/* Example template */

.inl div {
  border: 2px dashed;
  margin: 45px;
  padding: 30px;
  width: 650px;
}

.inl div a {
  display: inline;
}

/* Example with margins */
.inl .margin a {
  margin: 30px;
}

/* Example with padding */
.inl .padding a {
  padding: 30px;
}

/* Green box */
.inl .box a {
  color: white;
  background-color: green;
}

/* Example floating */
.inl .float a {
  float: left;
  margin: 15px;
  padding: 25px;
  width: 120px;
  text-align: center;
  border: 3px solid darkgreen;
}

.inl .float {
  overflow: hidden;
}

/* --- BLOCK --- */

/* Example template */
.blo div:not(.wrapper) {
  color: #fff;
}

.blo .wrapper {
  margin-bottom: 35px;
}

/* Clearfix */
.cf::after {
  clear: both;
  content: "";
  display: block;
}

/* First boxes (height and width) */

.blo .box-1 {
  background-color: dodgerblue;
}

.blo .box-2 {
  background-color: green;
  height: 60px;
  margin: 20px;
  padding: 20px;
}

.blo .box-3 {
  background-color: tomato;
  width: 90px;
}

.blo .box-4 {
  background-color: pink;
  width: 180px;
  height: 120px;
  margin: 20px;
  padding: 20px;
}

/* Large margin */
.blo h3.separation {
  margin-top: 35px;
}

/* Second boxes (floating without height/width) */

.blo .fl-a * {
  border: 1px solid red;
}

.blo .fl-1 {
  background-color: dodgerblue;
  float: left;
}

.blo .fl-2 {
  background-color: tomato;
  float: right;
}

/* Third boxes (floating with width) */

.blo .fl-b {
  text-align: center;
  line-height: 70px;
}

.blo .fl-3 {
  background-color: tomato;
  float: left;
  width: 40%;
}

.blo .fl-4 {
  background-color: dodgerblue;
  float: right;
  width: 50%;
}

/* Fourth boxes (block anchor element) */

.blo .fl-c a {
  display: block;
  background-color: dodgerblue;
  color: white;
  text-align: center;
  margin: 10px;
  padding: 10px;
}